/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/*------------------------------------*\
    $SITIO 
\*------------------------------------*/
.brand {
	h1 {
		@extend %hidden;
	}
	img {
		margin-top: $paddingbase;
		height: 100px;
	}
}
h1, h2 {
	@extend %text-center;
	max-width: $bp3;
	margin: 0 auto;
	color: $grey;
}
.home {
	main {
		height: 100%;
		object {
			height: 80%;
		}
	}

}
nav {
	&.nav-main {
		a {
			color: $color-cinco;
		}
	}
	.active {
		text-decoration: underline;
	}
}
body {
	font-family: $basefont;
	color: $color-base;
	.sidebar {
		background-size: contain;
		background-repeat: repeat-x;
		border-left: $borde;
		// @include vendor(border-radius,($radius/5));
	}
	background-attachment: fixed;
	&.home { 
		background-image: url(#{$image-path}/bg-home.jpg); 
	}
	&.biografia { 
		background-image: url(#{$image-path}/bg-biografia.jpg); 
	}
	&.exposiciones, &.shows, &.exposicions { 
		background-image: url(#{$image-path}/bg-exposiciones.jpg); 
	}
	&.contacto, &.contacte, &.contact { 
		background-image: url(#{$image-path}/bg-contacto.jpg); 
	}
	&.barcelona { 
		background-image: url(#{$image-path}/bg-barcelona.jpg); 
	}
	&.bodegones, &.bodegons, &.still-lifes { 
		background-image: url(#{$image-path}/bg-bodegones.jpg); 
	}
	&.gaudi { 
		background-image: url(#{$image-path}/bg-gaudi.jpg); 
	}
	&.gerona, &.girona { 
		background-image: url(#{$image-path}/bg-gerona.jpg); 
	}
	&.naturaleza, &.naturalesa, &.nature { 
		background-image: url(#{$image-path}/bg-naturaleza.jpg); 
	}
	&.tortella { 
		background-image: url(#{$image-path}/bg-tortella.jpg); 
	}
	&.tutis { 
		background-image: url(#{$image-path}/bg-tutis.jpg); 
	}
	&.rostros, &.faces, &.cares { 
		background-image: url(#{$image-path}/bg-rostros.jpg); 
	}
	&.dibujos, &.dibuixos, &.drawings { 
		background-image: url(#{$image-path}/bg-dibujos.jpg); 
	}
	&.estampados, &.estampats, &.painting-designs { 
		background-image: url(#{$image-path}/bg-estampados.jpg); 
	}
	&.ilustraciones, &.illustration, &.il-lustracions { 
		background-image: url(#{$image-path}/bg-ilustraciones.jpg); 
	}
}
.container {
	@include max-width ($bp1);
	@extend %clearfix;
	@media (max-width: 1220px) { //padding horizontal en resoluciones decrecientes
  		// @include padding();
  		// padding-top: 75px;
  	}

}
.main {
	float: left;
	@include max-width (70%);
	@media (max-width: $bp3) { //padding horizontal en resoluciones decrecientes
  		@include max-width (100%);
  	}
  	img, p img {
		margin-right: $gutterwidth * 1.8;
  	}
}
#my-button, .idioma-mobiles {
	@media (min-width: $bp3) { //padding horizontal en resoluciones decrecientes
  		// @include max-width (100%);
  		display: none;
  	}
  	@media (max-width: $bp3) { //padding horizontal en resoluciones decrecientes
  		// @include max-width (100%);
  		display: block;
  	}
}
.sidebar {
	float: right;
	@include max-width (25%);
	// @extend %text-center;
	ul {
		list-style: none;
		@extend %clearfix;
	}
	li {
	float: left;
		a {
			@include padding($paddingbase/2.5);
			color: $grey;
		}
	}
	@include padding();
	@media (max-width: $bp3) { //padding horizontal en resoluciones decrecientes
  		// @include max-width (100%);
  		display: none;
  	}
}
.footer {
	@extend %text-center;
	@include padding-bottom();
}
.putfixed {
	position: fixed;
	top: 0;
	left: 72%;
}
// galleries
ul {
	&.gallery {
		line-height : $baselineheight / 1.7;
		list-style: none;
		@include padding(0);
		li {
			@include rejilla(3);
			@include padding(4%);
			@media (max-width: $bp3) {
				@include rejilla(1);
			}
			// background-color: white;
			a {
				@extend %clearfix;
			}
			img {
				padding-bottom: $paddingbase / 1.5;
				@include vendor(border-radius,$radius);
			}
			height: 250px;
		}
	}
}

.box--1 {
	@include rejilla(1);
	@include padding-bottom();
} // 1 columna

.box--2 { @include rejilla(2); 
	@media (max-width: $bp3) {
	  	@include rejilla(1);
	}
} // 2 columnas

.box--3 { @include rejilla(3); 
	@media (max-width: $bp3) {
  		@include rejilla(1);
  	}
} // 3 columnas

.box--4 { @include rejilla(4); } // 4 columnas
.box--6 { @include rejilla(6); } // 6 columnas

	.intro-anim {
		@extend %text-center;
	}
	.banner {
		select {
			display: none;
		}
		// @include padding(0);
		margin: 25px;
		@extend %text-center;
		@media (max-width: $bp3) { //padding horizontal en resoluciones decrecientes
  		// @include max-width (100%);
  		select {
  			display: block;
  		}
  	}
	}

p {
	margin-bottom: $baselineheight / 3;
}
.clearfix {
	@extend %clearfix;
}
//lightbox
#imagelightbox
{
    position: fixed;
    z-index: 9999;
}